<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Salas de chat</h3>
        <hr>
        <div class="row">
          <table class="centered highlight">
            <thead>
            <tr>
              <th>Proyecto</th>
              <th>Trabajadores</th>
              <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Alvin</td>
              <td>2</td>
              <td><a [routerLink]="['/iUnidUser/chat']"  class="waves-effect waves-light btn light-blue darken-4">Entrar</a></td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>10</td>
              <td><a [routerLink]="['/iUnidUser/chat']" class="waves-effect waves-light btn light-blue darken-4">Entrar</a></td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>5</td>
              <td><a [routerLink]="['/iUnidUser/chat']"  class="waves-effect waves-light btn light-blue darken-4">Entrar</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
