<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Salas de chat</h3>
        <hr>
        <div class="row">
          <table class="centered highlight">
            <thead>
            <tr>
              <th>Proyecto</th>
              <th>Trabajadores</th>
              <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let project of projectsThatHeWorks.internalProjects">
              <td>{{ project.name }}</td>
              <td>{{ project.users.length }}</td>
              <td><a *ngIf="project.state !== 'Close'" (click)="joinChat(project.idConversation, project.name)"  class="waves-effect waves-light btn light-blue darken-4">Entrar</a>
                <a *ngIf="project.state === 'Close'"  class="waves-effect waves-light btn light-blue darken-4 disabled">Entrar</a></td>
            </tr>
            <tr *ngFor="let project of projects.internalProjects">
              <td>{{ project.name }}</td>
              <td>{{ project.users.length }}</td>
              <td><a *ngIf="project.state !== 'Close'" (click)="joinChat(project.idConversation, project.name)"  class="waves-effect waves-light btn light-blue darken-4">Entrar</a>
              <a *ngIf="project.state === 'Close'"  class="waves-effect waves-light btn light-blue darken-4 disabled">Entrar</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
