<footer class="page-footer light-blue darken-2">
  <div class="container">
    <div class="row">
      <div class="col s12 l12 m12 center">
        <h5 class="white-text">RRSS</h5>
        <ul id="menu">
          <li><i class="fab fa-facebook-square fa-3x"></i></li>
          <li><a href="https://twitter.com/iUnid_Inception" target="_blank" style="text-decoration: none; color: #fff;"><i class="fab fa-twitter-square fa-3x"></i></a></li>
          <li><i class="fab fa-instagram fa-3x"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      © 2019 Copyright:
      <a class="grey-text text-lighten-4" href="#!"> Inception Corp</a>
    </div>
  </div>
</footer>
