<div class="navbar-fixed">
  <nav class="navbar light-blue accent-2">
    <div class="nav-wrapper">

      <a *ngIf="logged && type === 'user'" [routerLink]="['iUnidUser/home-user']">
        <div class="brand-logo grey-text text-darken-4" style="margin-top: 3px">
          <img src="assets/img/iunid.png" width="30" height="30" class="" alt="" style="">
        </div>
      </a>

      <a *ngIf="logged && type === 'company'" [routerLink]="['iUnidCompany/dashboard']">
        <div class="brand-logo grey-text text-darken-4" style="margin-top: 3px">
          <img src="assets/img/iunid.png" width="30" height="30" class="" alt="" style="">
        </div>
      </a>

      <a *ngIf="!logged" routerLink="**">
        <div class="brand-logo grey-text text-darken-4" style="margin-top: 3px">
          <img src="assets/img/iunid.png" width="30" height="30" class="" alt="" style="">
        </div>
      </a>




      <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>
</div>
