<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">
          <a href="#deleteModal" class="btn btn-floating text-white left red darken-4 modal-trigger">
            <i class="far fa-trash-alt"></i>
          </a>
          Perfil
          <a (click)="edit()" class="btn btn-floating text-white right">
            <i class="fas fa-edit"></i>
          </a>
        </h3>
        <hr>
        <div class="card white">
          <div class="card-content">
            <div class="row">
              <div class="col m3 center">
                <img class="mt-4" src="assets/img/company-avatar.svg" style="max-width: 100px; width: 100%;">
              </div>
              <div class="col m9">

                <div class="row">
                  <div class="col xl6">
                    <h4>{{ data.company.name }}</h4>
                    <p>{{ data.company.description }}</p>
                  </div>
                  <div class="col xl6">
                    <h5>{{ data.company.email }}</h5>
                    <h5>Contact email - {{ data.company.contactEmail }}</h5>

                    <h5 *ngIf="data.average !== null">Valoración: {{ data.average + '%' }}</h5>
                    <h5 *ngIf="data.average === null">Valoración: 0%</h5>
                    <div class="progress">
                      <div class="determinate" [style.width]="data.average + '%'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col s12 center">

            <h3>Proyectos Externos
              <a [routerLink]="['/iUnidCompany/uploadExt']" class="btn btn-floating text-white">
                <i class="fas fa-plus" style="font-size: 14px !important;"></i>
              </a>
            </h3>
            <hr>
            <ul class="collapsible">
              <li *ngFor="let project of data.projects">
                <div class="collapsible-header">{{ project.name }}</div>
                <div class="collapsible-body">
                  <a href="#deleteProjectModal"(click)="setProjectId(project._id)" class="btn btn-floating text-white left red darken-4 modal-trigger">
                    <i class="far fa-trash-alt"></i>
                  </a>
                  <a (click)="editExt(project)" class="btn btn-floating text-white right">
                    <i class="fas fa-edit"></i>
                  </a>
                  <span>{{ project.description }}</span>
                  <br>
                  <a [href]="project.url" target="_blank">{{ project.url }}</a></div>
              </li>
            </ul>
          </div>
        </div>





        <div class="row">
          <div class="col s12">
            <div class="card white">
              <div class="card-content">
                <h3 class="center">Nuestros Clientes</h3>
                <div *ngIf="contactsCont !== 0">
                  <ul style=" list-style-type: none;">
                    <li *ngFor="let contact of data.company.contacts">{{ contact.name }}</li>
                  </ul>
                </div>
                <div *ngIf="contactsCont === 0" class="center">
                  <p>No hay información</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Alerta</h4>
    <p>Estás seguro de que quieres borrar tu cuenta</p>
  </div>
  <div class="modal-footer">
    <a (click)="deleteUser(data.company.email)" class="btn waves-effect waves-green">Si</a>
    <a class="modal-close btn waves-effect waves-green" style="margin-left: 5px;">No</a>
  </div>
</div>

<div id="deleteProjectModal" class="modal">
  <div class="modal-content">
    <h4>Alerta</h4>
    <p>Estás seguro de que quieres borrar el proyecto</p>
  </div>
  <div class="modal-footer">
    <a (click)="deleteProject(projectId)" class="btn waves-effect waves-green">Si</a>
    <a class="modal-close btn waves-effect waves-green" style="margin-left: 5px;">No</a>
  </div>
</div>
