<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Tus Proyectos</h3>
        <hr>
        <div class="row">
          <div class="center" *ngIf="type === 'user'">
            <label style="margin-right: 10px">
              <input name="group1" type="radio" checked (click)="load('client')"/>
              <span>Como cliente</span>
            </label>
            <label>
              <input name="group1" type="radio" (click)="load('employer')"/>
              <span>Como empleador</span>
            </label>
          </div>
        </div>


        <div class="tab_container center">
          <input class="tab_input" id="tab1" type="radio" name="tabs" checked>
          <label class="tab_label" for="tab1"><span>En curso</span></label>

          <input class="tab_input" id="tab2" type="radio" name="tabs">
          <label class="tab_label" for="tab2"><span>Finalizados</span></label>


          <section id="content1" class="tab-content tab_section">
            <ul class="collapsible">
              <li *ngFor="let project of data.internalProjects">
                <div *ngIf="project.state === 'Open'" class="collapsible-header">{{ project.name }}</div>
                <div *ngIf="project.state === 'Open'" class="collapsible-body">
                  <span style="word-break: break-all;">{{ project.description }}</span>
                </div>
              </li>
            </ul>
          </section>

          <section id="content2" class="tab-content tab_section">
            <ul class="collapsible">
              <li *ngFor="let project of data.internalProjects">
                <div *ngIf="project.state === 'Close'" class="collapsible-header">{{ project.name }}</div>
                <div *ngIf="project.state === 'Close'" class="collapsible-body">
                  <span style="word-break: break-all;">{{ project.description }}</span>
                </div>
              </li>
            </ul>
          </section>
        </div>









      </div>
    </div>
  </div>
</div>
