<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Tus Proyectos</h3>
        <hr>
        <div class="row">
          <div class="center" *ngIf="type === 'user'">
            <label style="margin-right: 10px">
              <input name="group1" type="radio" checked (click)="load('client')"/>
              <span>Como cliente</span>
            </label>
            <label>
              <input name="group1" type="radio" (click)="load('employer')"/>
              <span>Como empleador</span>
            </label>
          </div>
        </div>


        <div class="tab_container center" style="text-align: justify !important">
          <input class="tab_input" id="tab1" type="radio" name="tabs" checked>
          <label class="tab_label" for="tab1"><span>En curso</span></label>

          <input class="tab_input" id="tab2" type="radio" name="tabs">
          <label class="tab_label" for="tab2"><span>Finalizados</span></label>


          <section id="content1" class="tab-content tab_section">
            <ul class="collapsible">
              <li *ngFor="let project of data.internalProjects; let i = index">
                <div *ngIf="project.state === 'Open'" class="collapsible-header">{{ project.name }}</div>
                <div *ngIf="project.state === 'Open'" class="collapsible-body">
                  <a href="#deleteModal" (click)="setProjectId(project._id)" class="btn btn-floating text-white left red darken-4 modal-trigger">
                    <i class="far fa-trash-alt"></i>
                  </a>
                  <a (click)="editInt(project)" class="btn btn-floating text-white right">
                    <i class="fas fa-edit"></i>
                  </a>
                  <p>Catergoria: {{ project.category }}</p>
                  <p>Descripción: {{ project.description }}</p>
                  <p>Fecha de entrega: {{ project.deliveryDate  | date }}</p>
                  <p>Recompensa: {{ project.minPrice }} - {{ project.maxPrice }}</p>
                  <div class="row">
                    <div class="col xl4">
                      <h5>Contra ofertas: </h5>
                      <p style="word-break: break-all;" *ngFor="let counterOffer of project.pendingCounterOffer">{{ counterOffer.offer }} - {{ counterOffer.user }}<a class="waves-effect waves-light btn" (click)="acceptCounterOffer( project._id, counterOffer.user, counterOffer.offer )">Aceptar</a><a class="waves-effect waves-light btn red" (click)="denyCounterOffer( project._id, counterOffer.user, counterOffer.offer )">Borrar</a></p>
                    </div>
                    <div class="col xl4">
                      <h5>Pendientes de aceptar: </h5>
                      <p style="word-break: break-all;" *ngFor="let pending of project.pendingAccepts">{{ pending }}<a (click)="acceptPending( project._id ,pending)" class="waves-effect waves-light btn">Aceptar</a><a (click)="denyPending( project._id ,pending)"  class="waves-effect waves-light btn red">Borrar</a></p>
                    </div>
                    <div class="col xl4">
                      <h5>Trabajadores: </h5>
                      <p style="word-break: break-all;" *ngFor="let user of project.users">{{ user.userEmail }}<a class="waves-effect waves-light btn modal-trigger yellow accent-2 purple-text" href="#payModal"
                      [ngClass]="{'disabled': user.userPay }"
                      (click)="setPayData(project._id, project.minPrice, project.maxPrice, user.userOffer, user.userEmail)"><i class="fas fa-euro-sign"></i></a><a (click)="kickPerson(project._id ,user)" class="waves-effect waves-light btn red"><i class="fas fa-hand-middle-finger"></i></a>
                      <a *ngIf="user.userPay" href="#evaluateModal" (click)="setEvaluateUser(project._id ,user)" class="waves-effect waves-light btn modal-trigger"><i class="fas fa-thumbs-up"></i></a></p>
                    </div>
                  </div>
                  <p><a (click)="closeProject( project._id, i )" class="waves-effect waves-light btn light-blue darken-4">Cerrar Proyecto</a></p>
                </div>
              </li>
            </ul>
          </section>

          <section id="content2" class="tab-content tab_section">
            <ul class="collapsible">
              <li *ngFor="let project of data.internalProjects">
                <div *ngIf="project.state === 'Close'" class="collapsible-header">{{ project.name }}</div>
                <div *ngIf="project.state === 'Close'" class="collapsible-body">
                  <p>Catergoria: {{ project.category }}</p>
                  <p>Descripción: {{ project.description }}</p>
                  <p>Fecha de entrega: {{ project.deliveryDate  | date }}</p>
                  <p>Recompensa: {{ project.maxPrice }} - {{ project.minPrice }}</p>
                </div>
              </li>
            </ul>
          </section>
        </div>









      </div>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Alerta</h4>
    <p>Estás seguro de que quieres borrar el proyecto</p>
  </div>
  <div class="modal-footer">
    <a (click)="deleteProject(projectId)" class="btn waves-effect waves-green">Si</a>
    <a class="modal-close btn waves-effect waves-green" style="margin-left: 5px;">No</a>
  </div>
</div>

<div id="payModal" class="modal">
  <div class="modal-content">
    <h4>Pagar</h4>
    <div *ngIf="userOffer === 0">
      <p class="range-field" style="margin-top: 20px">
        <input type="range" (change)="payDataInput(payData.value)" id="payDataInput" min="{{ minPrice }}" max="{{ maxPrice }}" #payData/>
      </p>
      <p>
        Precio del proyecto: {{ minPrice }} - {{ maxPrice }}
      </p>
      <p>
        Precio seleccionado: {{ payValue }}
      </p>
    </div>
    <div *ngIf="userOffer !== 0">
      Precio seleccionado: {{ payValue }}
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="sendPay()" class="btn waves-effect waves-green">Enviar</a>
    <a class="modal-close btn waves-effect waves-green" style="margin-left: 5px;">Cancelar</a>
  </div>
</div>


<div id="evaluateModal" class="modal">
  <div class="modal-content">
    <h4>Valorar persona</h4>
    <p class="range-field" style="margin-top: 20px">
      <input type="range" (change)="evaluateInput(evaluateData.value)" id="evaluateDataInput" min="0" max="100" #evaluateData/>
    </p>
    <p>
      Valor seleccionado: {{ evaluateValue }}
    </p>
  </div>
  <div class="modal-footer">
    <a (click)="sendEvaluate()" class="btn waves-effect waves-green">Si</a>
    <a class="modal-close btn waves-effect waves-green" style="margin-left: 5px;">No</a>
  </div>
</div>
