<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Login</h3>
        <hr>
        <div class="row">
          <form [formGroup]="form" class="col s8 offset-s2" (ngSubmit)="sendData()">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="" formControlName="email" [ngClass]="{'invalid': !form.controls['email'].valid }">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="" formControlName="password" [ngClass]="{'invalid': !form.controls['password'].valid }">
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="center">
              <button type="submit" class="waves-effect waves-light btn light-blue darken-4" [ngClass]="{'disabled': !form.controls['email'].valid || !form.controls['password'].valid}">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Registro</h3>
        <hr>
        <div class="row">
          <div class="col s12 l6 m6 center user-option">
            <h4 class="">User?</h4>
            <img (click)="regUser()"  src="assets/img/user-avatar.svg" id="user" class="avatar-r z-depth-1"
                 alt="Responsive image">
          </div>
          <div class="col s12 l6 m6 center">
            <h4 class="">Company?</h4>
            <img (click)="regCompany()" src="assets/img/company-avatar.svg" id="company" class="avatar-r z-depth-1"
                 alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
