<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Editar Proyecto Externo</h3>
        <hr>
        <div class="row">
          <form [formGroup]="form" class="col s8 offset-s2" (ngSubmit)="sendData()">



            <div class="row">
              <div class="input-field col s12">
                <input id="first_name" type="text" class="" formControlName="name" [ngClass]="{'invalid': form.get('name').errors?.required }">
                <label for="first_name">Nombre</label>
                <div *ngIf="form.get('name').errors?.required" class="red-text">
                  Este campo es requerido
                </div>
              </div>
            </div>



            <div class="row">
              <div class="input-field col s12">
                <textarea id="desc" class="materialize-textarea" formControlName="desc"
                          [ngClass]="{'invalid': !form.controls['desc'].valid }"></textarea>
                <label for="desc">Descripción</label>
                <div *ngIf="!form.controls['desc'].valid" class="red-text">
                  Mínimo 50 caracteres
                </div>
                <div *ngIf="form.get('desc').value.length === 0" [ngClass]="{'recomend-text': form.get('desc').value.length === 0}" class="recomend-text">
                  Este campo es recomendado
                </div>
              </div>
            </div>



            <div class="row">
              <div class="input-field col s12">
                <input id="url" type="text" class="" formControlName="url">
                <label for="url">Url</label>
                <div *ngIf="form.get('url').value.length === 0" [ngClass]="{'recomend-text': form.get('url').value.length === 0}" class="recomend-text">
                  Este campo es recomendado
                </div>
              </div>
            </div>


            <div class="center">
              <button type="submit" class="waves-effect waves-light btn light-blue darken-4"  [ngClass]="{'disabled': !form.valid}">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
