<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Buscar Colaboradores</h3>
        <hr>
        <div class="row">
          <div class="col s12 m12 l2" style="border-right: gray 1px solid">


            <div class="row">
              <div class="input-field col s12">
                <div id="chipSkills" class="chips chips-skills tooltipped" data-position="bottom" data-tooltip="Escribe una habilidad y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Habilidades</p>
                <p class="btn" (click)="takeData(0,'skills')">></p>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <div id="chipCertificates" class="chips chips-certificates tooltipped" data-position="bottom" data-tooltip="Escribe un certificado y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Certificados</p>
                <p class="btn" (click)="takeData(0,'certificates')">></p>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <div id="chipCourses" class="chips chips-courses tooltipped" data-position="bottom" data-tooltip="Escribe un curso y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Cursos</p>
                <p class="btn" (click)="takeData(0,'courses')">></p>
              </div>
            </div>



          </div>
          <div class="col s12 m12 l10">
            <h4 class="center">Resultados</h4>
            <div *ngIf="!data.users" class="center">
              <p>No hay resultados</p>
            </div>
            <div *ngIf="data.users">
              <ul class="collection">
                <li class="collection-item" *ngFor="let user of data.users">
                  <h5>{{ user.name }}</h5>
                  <p><span class="bold_text">Descripción:</span> {{ user.description }}</p>
                  <p><span class="bold_text">Email:</span> {{ user.email }}</p>
                  <p><span class="bold_text">Teléfono:</span> {{ user.phone }}</p>
                  <p><span class="bold_text">Certificados:</span> {{ user.certificates }}</p>
                  <p><span class="bold_text">Cursos:</span> {{ user.courses }}</p>
                  <p><span class="bold_text">Habilidades:</span> {{ user.skills }}</p>
                  <a class="btn modal-trigger" href="#select_project" (click)="setColaboratorId(user.email)">Enviar Petición</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="select_project" class="modal">
  <div class="modal-content">
    <h4>Selecciona un proyecto</h4>
    <div class="row">
      <form [formGroup]="form" class="col s8 offset-s2">
        <div class="row">
          <div class="input-field col s12">
            <select class="browser-default" formControlName="idProject">
              <option value="0" disabled selected>Selecciona el proyecto</option>
              <option *ngFor="let project of companyProjects" [value]="project._id">{{ project.name }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col s8 offset-s2" style="margin-top: 5px">
        <p>Selecciona el proyecto en el que quieres que trabaje este usuario.</p>
        <p>Después dale a enviar y se enviará tu solicitud.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn" (click)="sendColaboratorRequest()">Enviar</a>
  </div>
</div>
