<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Buscar Colaboradores</h3>
        <hr>
        <div class="row">
          <div class="col s12 m12 l2" style="border-right: gray 1px solid">


            <div class="row">
              <div class="input-field col s12">
                <div id="chipSkills" class="chips chips-skills tooltipped" data-position="bottom" data-tooltip="Escribe una habilidad y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Habilidades</p>
                <p class="btn" (click)="takeData(0,'skills')">></p>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <div id="chipCertificates" class="chips chips-certificates tooltipped" data-position="bottom" data-tooltip="Escribe un certificado y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Certificados</p>
                <p class="btn" (click)="takeData(0,'certificates')">></p>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <div id="chipCourses" class="chips chips-courses tooltipped" data-position="bottom" data-tooltip="Escribe un curso y pulsa la tecla enter para ir añadiendolos, cuando esten todos pulsa el botón >"></div>
                <p class="grey-text text-lighten-1">Por Cursos</p>
                <p class="btn" (click)="takeData(0,'courses')">></p>
              </div>
            </div>



          </div>
          <div class="col s12 m12 l10">
            <h4 class="center">Resultados</h4>
            <div *ngIf="!data.users" class="center">
              <p>No hay resultados</p>
            </div>
            <div *ngIf="data.users">
              <ul class="collection">
                <li class="collection-item" *ngFor="let user of data.users">
                  <h5>{{ user.name }}</h5>
                  <p><span class="bold_text">Descripción:</span> {{ user.description }}</p>
                  <p><span class="bold_text">Email:</span> {{ user.email }}</p>
                  <p><span class="bold_text">Teléfono:</span> {{ user.phone }}</p>
                  <p><span class="bold_text">Certificados:</span> {{ user.certificates }}</p>
                  <p><span class="bold_text">Cursos:</span> {{ user.courses }}</p>
                  <p><span class="bold_text">Habilidades:</span> {{ user.skills }}</p>
                  <button class="btn" >Enviar Petición</button>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
