<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Chat</h3>
        <hr>
        <div class="row">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="center" style="padding: 5px">
                  <span class="card-title" style="margin-top: 5px"></span>
                </div>
                <hr>
                <div class="card-content">
                  <div class="chat-history">
                    <ul>



                      <div *ngFor="let message of data.messagesDB">

                        <li class="clearfix" *ngIf="message.email !== email">
                          <div class="message-data align-right">
                            <span class="message-data-time" > {{ message.date  | date  }} </span> &nbsp; &nbsp;
                            <span class="message-data-name" > {{ message.email }} </span> <i class="fa fa-circle me"></i>

                          </div>
                          <div class="message other-message float-right">
                            {{ message.content }}
                          </div>
                        </li>



                        <li *ngIf="message.email === email">
                          <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i> {{ message.email }} </span>
                            <span class="message-data-time"> {{ message.date  | date  }} </span>
                          </div>
                          <div class="message row">
                            <div class="col s6">
                              <p class="my-message">{{ message.content }}</p>
                            </div>
                          </div>
                        </li>


                      </div>




                    </ul>
                  </div>
                  <div class="card-action">
                    <div class="row">
                      <div class="input-field col s10">
                        <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                        <label for="textarea2">Mensaje</label>
                      </div>
                      <div class="col s2" style="margin-top: 15px">
                        <button class="btn btn-floating text-white right">
                          <i class="fas fa-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
