<div class="row" style="margin-top:50px">
  <div class="col s10 offset-s1">
    <div class="card white">
      <div class="card-content">
        <h3 class="center-align" style="margin-top: -10px !important;">Chat</h3>
        <hr>
        <div class="row">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="center" style="padding: 5px">
                  <span class="card-title" style="margin-top: 5px"></span>
                </div>
                <hr>
                <div class="card-content">
                  <div class="chat-history">
                    <ul>
                      <li class="clearfix">
                        <div class="message-data align-right">
                          <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                          <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                          Hi Vincent, how are you? How is the project coming along?
                        </div>
                      </li>

                      <li>
                        <div class="message-data">
                          <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                          <span class="message-data-time">10:12 AM, Today</span>
                        </div>
                        <div class="message row">
                          <div class="col s6">
                            <p class="my-message">Are we meeting today? Project has been already finished and I have results to show you.</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-action">
                    <div class="row">
                      <div class="input-field col s10">
                        <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                        <label for="textarea2">Mensaje</label>
                      </div>
                      <div class="col s2" style="margin-top: 15px">
                        <button class="btn btn-floating text-white right">
                          <i class="fas fa-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
